* {
  font-family: 'Montserrat';
  text-decoration: none;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);


@media only screen and (min-width: 768px) and (max-width: 3000px){
  .footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    background-color:#99CC99;
  }

  .social-media-icons {
    padding: 0 10px;
  }


}
@media only screen and (min-width: 375px) and (max-width: 768px){
  .footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    background-color:#99CC99;
  }

  .social-media-icons {
    padding: 0 10px;
  }
  
  }