@media only screen and (min-width: 375px) and (max-width: 550px){
  h4 {
    padding: 10px;
  }
  
  .burger-menu-comp {
    text-align: right;
    margin: 10px;
    padding: 5px;
  }

  .mobile-menu {
    margin: 5px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 768px){
  h4 {
    padding: 5px;
  }

  .burger-menu-comp {
    text-align: right;
    margin: 10px;
    padding: 5px;
  }
  
}
