

@media only screen and (min-width: 375px) and (max-width: 550px){
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 40px 10px 0px;
  }

  .mobile-menu {
    margin: 5px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 768px){
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 40px 10px 0px;
  }

  .mobile-menu {
    margin: 5px;
  }
  
}
