* {
  font-family: 'Montserrat';
  text-decoration: none;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);


@media only screen and (min-width: 768px) and (max-width: 3000px){
  .header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #99CC99;
    color: #5f5f5f;
  }
  
  .logo {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin: 0px 20px;
  }

  .logo h2 {
    color: #5f5f5f;
    text-decoration: none;
  }

  
  .headerlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-weight: 600;
  }

  .burger-menu {
    display: none
  }

}
@media only screen and (min-width: 375px) and (max-width: 768px){
  .header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #99CC99;
  }
  
  .logo {
    display: flex;
    align-items: flex-start;
    width: 60%;
    margin: 0px 20px;
  }
  
  .headerlinks {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-left: 15%;
    }
  
  }