.header-super-parent {
  height: 15vh;
}

.header-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(45deg, #7e329b, #b165cd, #a879ba);
  padding: 15px 0 15px 0;
}

.logo h2 {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}	

@media only screen and (min-width: 768px) and (max-width: 3000px){
  .logo {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin: 0px 20px;
  }

  .headerlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  .headerlinks a {
    color: white;
  }

  .burger-menu {
    display: none
  }

}

@media only screen and (min-width: 659px) and (max-width: 768px){
  .logo {
    display: flex;
    align-items: flex-start;
    width: 60%;
    margin: 0px 20px;
  }
  
  .headerlinks {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: white;
    }

}

@media only screen and (min-width: 300px) and (max-width: 659px){
  .logo {
    display: flex;
    align-items: flex-start;
    width: 60%;
    margin: 0px 20px;
  }
  
  .headerlinks {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: white;
    }
}

