table {
  border-collapse: collapse;
}

thead {
  width: 100;
}

th, td {
  border: 1.5px solid darkgray;
  text-align: left;
  padding: 5px 15px 5px 5px;
}

tbody {
  width: 100%;
}

.plant-table-div {
  width: 100%;
}

.plant-table {
  width: 100%;
}

.plant-table-even {
  background: lightgray;
}