.plant-form {
  background-color: lightgray;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 900px;
}

.plant-div-item {
  padding: 5px;
  background-color: gray;
}

.plant-div-item-even {
  padding: 5px;
  background-color: lightgray;
}