@media only screen and (min-width: 768px) and (max-width: 3000px){.parent-div-about-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1% 1%;
}

.info-div-about {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 50%;
  margin: 20px;
}

.info-div-about img {
  max-height: 250px;
  object-fit: contain;
  overflow: hidden;
  margin: 10px 0 10px 0;
}

.info-div-about p {
  margin: 10px 70px 10px 0;
}

.info-div-about span {
  font-size: 12px;
  font-style: italic;
  color: #1e1123;
  padding: 0 10px 10px 0; 
}

.about-team {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px 0 20px 20px;
}

.about-team-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
}

.about-team-div img {
  max-width: 100px;
  max-height: 100px;
  border: 2px solid white;
  border-radius: 50%;
}

.about-team-info {
  display: flex;
  flex-direction: column;
}

.about-team-info h4 {
  padding: 0;
  margin: 5px;
}

.about-team-info p {
  padding: 0;
  margin: 5px;
  }
}

@media only screen and (min-width: 659px) and (max-width: 768px){
  .parent-div-about-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% 1%;
  }

  .info-div-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 20px 0 20px;
  }

  .info-div-about img {
    max-height: 250px;
    object-fit: contain;
    overflow: hidden;
    margin: 10px 0 10px 0;
  }

  .info-div-about span {
    font-size: 12px;
    font-style: italic;
    color: #1e1123;
    padding: 0 10px 10px 0; 
  }

  .about-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .about-team-div {
    margin: 5%;
  }

  .about-team-info {
    margin: 0;
  }

  .about-team-info h4 {
    margin: 0 auto;
    padding: 0;
  }

  .about-team-info p {
    margin: 0 auto;
  }
  
  .about-team-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}

  .about-team-div img {
    max-width: 100px;
    max-height: 100px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 659px){
  .parent-div-about-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% 1%;
  }

  .info-div-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 20px 0 20px;
  }

  .info-div-about img {
    max-height: 250px;
    object-fit: contain;
    overflow: hidden;
    margin: 10px 0 10px 0;
  }

  .info-div-about span {
    font-size: 12px;
    font-style: italic;
    color: #1e1123;
    padding: 0 10px 10px 0; 
  }

  .about-team {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

  }
  
  .about-team-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%;
}

  .about-team-div img {
    max-width: 100px;
    max-height: 100px;
  }

  .about-team-info h4 {
    margin: 1%;
    padding: 0;
  }

  .about-team-info p {
    margin: 1%;
    padding: 0 10px;
  }

}