@media only screen and (min-width: 768px) and (max-width: 3000px){
  .parent-div-home-info {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .info-div-home {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
  }
  
  .home-image-div {
    margin: 15px;
    border: 5px solid white;
    width: 40%;
    overflow: hidden;
  }

  .home-image-div img {
    display: flex;
    max-height: 400px;
    object-fit: scale-down;
    overflow: hidden;
    padding: 10px 0 10px 10px;
  }

  .home-image-div span {
    font-size: 12px;
    font-style: italic;
    color: #1e1123;
    padding-left: 10px;
    margin: 0;
  }


}
@media only screen and (min-width: 659px) and (max-width: 768px){
    .parent-div-home-info {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .info-div-home {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 2%;
    }
    
    .home-image-div {
      margin: 20px;
      width: 50%;
      overflow: hidden;
    }

    .home-image-div img {
      display: flex;
      margin: 0 auto;
      max-height: 400px;
      overflow: hidden;
      object-fit: scale-down;
      padding: 10px 0px 10px 10px;
    }

    .home-image-div span {
      font-size: 12px;
      font-style: italic;
      color: #1e1123;
      padding: 0 10px 10px 0; 
    }
  
  }


@media only screen and (min-width: 300px) and (max-width: 659px){
    .info-div-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 8%;
    }
    
    .home-image-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }

    .home-image-div img {
      max-height: 300px;
      padding: 10px;
      object-fit: scale-down;
    }

    .home-image-div span {
      font-size: 12px;
      font-style: italic;
      color: #1e1123;
      padding: 0 10px 10px 0; 
    }
    
} 


