.nursery-index-parent {
  display: flex;
  flex-direction: row;  
  width: 90%;
  margin: 7% 0 0 5%;
}

.nursery-index-image {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

.nursery-index-image img {
  max-height: 300px;
  object-fit: scale-down;
  object-position: center;
}

.nursery-index-info {
  width: 70%;
}

.nursery-index-info p {
  margin: 3% 0 3% 0;
}

.nursery-index-info h3 {
  margin: 3% 0 1% 0;
}

.genus {
  font-style: italic;
}

@media only screen and (min-width: 659px) and (max-width: 768px){
  .nursery-index-parent {
    display: flex;
    flex-direction: row;  
    width: 90%;
    margin: 7% 0 20% 5%;
  }

  .nursery-index-image {
    display: flex;
    padding-right: 10px;
    width: 60%;
  }

  .nursery-index-image img {
    overflow: hidden;
    object-fit: cover;
  }

  .nursery-index-info {
    width: 40%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 300px) and (max-width: 659px){
  .nursery-index-parent {
    display: flex;
    flex-direction: column;  
    width: 90%;
    margin: 7% 0 20% 5%;
  }

  .nursery-index-image {
    display: flex;
    align-self: center;
  }

  .nursery-index-image img {
    overflow: hidden;
    object-fit: cover;
  }

  .nursery-index-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
    
  }
}


