.nursery-card-single {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  margin: 20px 20px;
  padding: 10px;
}

.nursery-card-image {
  height: 200px;
  width: 215px;
  border: 8px solid white;
  box-sizing: border-box;
  overflow: hidden;
}

.nursery-card-info {
  display: flex;
  align-items: center;
}

.nursery-card-info h4 {
  margin: 0;
  padding: 0;
}

